.container {
    background-color: #5EBEC4;
    width: 200px;
    height: 100%;
    display: grid;
    place-items: center;
    float: left;
}

.centered {
    height: 97%;
    width: 80%;
    padding: 0;
    margin: 0;
}